**/*.a
**/*.o
**/*.bin
**/*.rom
**/*.L68
**/*.S68
**/*.zip
!design/CAMOutputs/solderdemon_m68k-r1-factory.zip
*.s#*
*.b#*
*.job
*.map
**/.project
**/.cproject
**/.settings
**/.DS_Store
**/*.sch-bak
**/*.kicad_pcb-bak
**/fp-info-cache
**/*.lst
**/*.dis
**/*.sym
**/*.elf
**/.vscode/*
code/software/lcd-ili9341/images/BMPToRLE555
code/software/lcd-ili9341/rle_images.h
user.mk
**/*.bak
**/*.lck

# Local KiCad state
**/.history/
**/*.kicad_prl
**/*-backups/
**/*-cache.lib

# KiCadRoutingTools logs written by design/tools/cpld_route.py
design/kicad/routing/
**/__pycache__/
